*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 75px;
}
.wrap{
    width: 10rem;
    background: #F3294B;
    margin: 0 auto;
}
.list{
    background: white;
    margin: .266667rem 0.1333rem;
}
.list-item{
    display: flex;
    margin: 0.1333rem;
    padding: 0.1333rem 0rem;
    position: relative;
}
.list-item img{
    width: 3.3333rem;
}
.item-right{
    padding:0rem 0.2133rem;
}
.item-right p:nth-child(1){
    font-size: 0.24rem;
    color: #000000;
    padding-bottom: 0.1333rem;
}
.shop{
    font-size: 0.32rem;
}
.item-right span{
    font-weight: bold;
}
.item-right .adv{
    font-size: 0.24rem;
    color: white;
    background: #f32a4c;
}
.item-right .price{
    color: red;
    font-size: 0.2933rem;
}
.item-right .prefer{
    color: red;
    font-size: 0.2667rem;
}
.item-right p:nth-last-of-type(1){
    color: #FF692F;
    font-size: 0.2667rem;
    font-weight: lighter;
    padding-top: 0.1333rem;
}
.item-right .button{
    color: white;
    background: red;
    font-size: 0.4rem;
    font-weight: lighter;
    padding: 0.0267rem 0.2667rem;
    position: absolute;
    right: 0.2533rem;
    bottom: 0.2rem;
}